# === PYTHON & JUPYTER NOTEBOOKS ===
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
ENV/
.env
.ipynb_checkpoints/
.project
.pydevproject

# === C# / .NET ===
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
App_Data/

# === POWER BI ===
*.tmp
*.pbi
*.pbix.json
**/PowerBIPreview/

# === SQL / DATABASES & LOGS ===
*.sql.log
*.sql.user
*.suo
*.db
*.sqlite
*.sqlite3
*.mdb
*.ldf
*.mdf
*.bak
*.log

# === SQL Server Management Studio (SSMS) ===
*.ssmssln
*.ssmssqlproj.user

# === IDE & SYSTEM FILES (VS Code / Windows) ===
.vscode/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini
